@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
    Layout = "_PageLayout";
}

@{

    if (Model.posts.Count > 0)
    {
        foreach (var post in Model.Inputs)
        {
            <!-- start post item -->
            <div class="col-12 blog-post-content margin-60px-bottom sm-margin-30px-bottom text-center text-md-left">
                @*<div class="blog-image"><a href="blog-standard-post.html"><img src="images/post/blog-img110.jpg" alt="" asp-append-version="true" /></a></div>*@
                <div class="blog-image"><a href="blog-standard-post.html"><img src="@post.imageDataUrl" alt="" asp-append-version="true" /></a></div>
                <div class="blog-text border-all d-inline-block width-100">
                    <div class="content padding-50px-all sm-padding-20px-all">
                        @*<div class="text-medium-gray text-extra-small margin-5px-bottom text-uppercase alt-font"><span>Posted on June 30, 2017</span>&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;<span><a href="blog-grid.html" class="text-medium-gray ">Branding</a></span></div>*@
                        <div class="text-medium-gray text-extra-small margin-5px-bottom text-uppercase alt-font"><span>Posted on @post.DatePublished</span>&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;<span><a href="blog-grid.html" class="text-medium-gray ">@post.Category</a></span></div>
                        <a asp-page="./Post" asp-route-id="" class="text-extra-dark-gray text-uppercase alt-font text-large font-weight-600 margin-15px-bottom d-block">@post.Title</a>
                        <p class="m-0">@post.Summary</p>
                    </div>
                    <div class="row m-0 author border-top border-color-extra-light-gray text-center">
                        <div class="col-12 col-md-4 d-flex flex-column justify-content-center name padding-15px-all">
                            <div>
                                <img src="images/author/avtar-04.jpg" alt="" class="rounded-circle width-30px" asp-append-version="true">
                                <span class="text-medium-gray text-uppercase text-extra-small alt-font padding-10px-left">by <a href="blog-grid.html" class="text-medium-gray">Paul Scrivens</a></span>
                            </div>
                        </div>
                        <div class="col-12 col-md-4 d-flex flex-column justify-content-center name border-lr padding-15px-all border-color-extra-light-gray sm-no-border">
                            <div>
                                <a href="#" class="text-extra-small alt-font text-medium-gray text-uppercase"><i class="far fa-heart margin-5px-right text-small"></i>5 like(s)</a>
                            </div>
                        </div>
                        <div class="col-12 col-md-4 d-flex flex-column justify-content-center name padding-15px-all">
                            <div>
                                <a href="#" class="text-extra-small alt-font text-medium-gray text-uppercase"><i class="far fa-comment margin-5px-right text-small"></i>3 Comment(s)</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
                    <!-- end post item -->
        }
    }
}

<!-- start pagination -->
<div class="col-12 text-center margin-100px-top md-margin-50px-top wow fadeInUp">
    <div class="pagination text-small text-uppercase text-extra-dark-gray">
        <ul class="mx-auto">
            <li><a href="#"><i class="fas fa-long-arrow-alt-left margin-5px-right d-none d-md-inline-block"></i> Prev</a></li>
            <li class="active"><a href="#">1</a></li>
            <li><a href="#">2</a></li>
            <li><a href="#">3</a></li>
            <li><a href="#">Next <i class="fas fa-long-arrow-alt-right margin-5px-left d-none d-md-inline-block"></i></a></li>
        </ul>
    </div>
</div>
<!-- end pagination -->
